.webtitle{

    color: white !important;
}
.webtitle:hover{
    color: rgb(240, 235, 235) !important;

}
.thoreedotbtn{
    background-color: white !important;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{

    font-size: 22px;
    border-bottom: 2px solid black;
}
#home{
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(12, 11, 11) 50% , rgb(36, 33, 33) 100%);
    min-height: 500px;
}
#home3{
    height: 600px;

}
.socialmedias{

    max-width: 20%;
    
}

#loginback{
    height: 400px;
    background: rgb(250, 246, 246);
    background: linear-gradient(90deg, rgb(245, 230, 230) 50% , rgb(226, 226, 226) 100%);
    
}
#home2{

    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(12, 11, 11) 50% , rgb(36, 33, 33) 100%);
    min-height: 400px;
}
#navback{

    background: rgb(17, 17, 17);
    background: linear-gradient(90deg, rgb(15, 13, 13) 50% , rgb(36, 33, 33) 100%);
}

.imgzoom:hover{
      
     transform: scale(1.1);
}
.underline{
    width: 50px;
    
    border-bottom: 4px solid red;
    border-radius: 2px;
}

.card{
    transition: all 0.5 ease;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}